body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: 1.6;
    background: #CC7766 url('media/img/noise.png');
}

footer {
    text-align: center;
    font-size: 12px;
}

aside {
    float: right;
    width: 260px;
    background-color: rgb(210, 210, 210, 0.3);
    padding: 10px;
}

article {
    float: left;
    width: 660px;
}

header {
    background-color: white;
    border: 1px solid black;
    padding-left: 600px;
}

#brasao {
    height: 150px;
    width: 150px;
    float: left;
}

#titulo_inicial {
    padding: 20px;
    padding-top: 40px;
    font-size: 24px;
}

#container {
    margin: 0 auto;
    width: 960px;
}

.local_1 {
    border-color: #CCC #999 #999 #CCC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(210, 210, 210, 0.3);
}

.local_2 {
    border-color: #CCC #999 #999 #CCC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(210, 210, 210, 0.3);
}

.local_3 {
    border-color: #CCC #999 #999 #CCC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(210, 210, 210, 0.3);
}

.lugar_img {
    height: 200px;
    border: 1px solid black;
    float: left;
    margin: 10px 10px 0;
    padding: 2px;
}


.notas_h3 {
    font-size: 14px;
    margin-top: 0;
}

.notas_ol {
    font-size: 12px;
}

.clear {
    clear: both; /*left, right, both*/
}

a {
    color: #2C88A7;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: black;
}